
        img {
            width: 100%;
        }
      
        .video-title {
            margin-top: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 12px;
        }    
        .video-auth, 
        .video-stats {
            font-size: 12px;
            color: #606060;
        }

        .video-auth {
            margin-bottom: 4px;
        }

        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        } 
        
        @media (max-width: 700px) {
            .video-grid{
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width:701px) and (max-width:999px) {
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width: 1000px) {
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        
        
        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }
      
        .profile-pic {
            width: 36px;
            border-radius: 50px;
        }
        .thumbnail-row {
            margin-bottom: 10px;
            position: relative;
        }

        .video-timer {
            position: absolute;
            bottom: 11px;
            right: 4px;
            background-color: rgba(0,0,0,0.9);
            color: white;
            /* font-family: roboto,arial;        inherited by the body -->   majorly text property get inherited */
            font-size: 12px;
            font-weight: 500;
            padding: 4px;
            border-radius: 2px;
        }
 