*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 3000px;
    padding-right: 20px;
    background-color: rgb(249,249,249);
     font-family: roboto,arial;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
     
        