

.header{
  display: flex;
  height: 57px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(222, 222, 222);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: white;
  z-index: 100;

}

.left-section {
  width: 150px;
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  width: 90px;
  height: 20px;
}

.middle-section {

  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar::placeholder {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.search-icon {
  margin-top: 4px;
  height: 24px;
  width: 24px;
}
.search-button{
  height: 40px;
  width: 64px;
  background-color:rgb(247, 247, 247);
  border: 1px solid rgb(204,204,204);
  margin-left: -1px;
  margin-right: 10px;

}

.search-button , 
.voice-button , 
.upload-icon-container, 
.youtube-app-container , 
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip , 
.voice-button .tooltip ,
.upload-icon-container .tooltip, 
.youtube-app-container .tooltip , 
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: roboto, arial;
}

.search-button:hover .tooltip , 
.voice-button:hover .tooltip , 
.upload-icon-container:hover .tooltip , 
.youtube-app-container:hover .tooltip , 
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.voice-button {
  height: 40px;
  width: 40px;
  background-color: rgb(248, 248, 248);
  border: none;
  border-radius: 20px ;
  
}
.voice-search-icon {
  height: 24px;
  width: 24px;
  margin-top: 4px;
}
.search-bar { 
  flex: 1;
  height: 40px;
  padding-left: 12px;
  font-size:16px   ;
  border: 1px solid rgb(204,204,204);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0.5px 0.5px 2px rgba(0,0,0,0.15);
  width: 0;
}


.right-section {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 29px;
  margin-right: 24px;
  flex-shrink: 0;
  
}

.upload {
  height: 24px;
  width: 24px;

}

.youtube-apps {
  height: 24px;
  width: 24px;

}

.notifications {
  height: 24px;
  width: 24px;
}

.notifications-icon-container {
  position: relative;

}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -2px;
  height: 14px;
  width: 14px;
  background-color: rgb(204, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 4px;
  padding-right: 2px;
  padding-bottom: 1px;
  border-radius: 7px;
  border: 1px solid white;
}

.profile {
  height: 32px;
  width: 32px;

}