.sidebar{
    position: fixed;
    left: 0;
    top: 45px;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 7px;
}

.sidebar-link {
    display: flex;
    height: 74px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(237, 237, 237);
}

.sidebar img {
    height: 24px;
    width: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;

}
